In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing

In [2]:
path = 'juegos.csv'
df = pd.read_csv(path)

In [3]:
nombre = df['Name']
df = df.drop(['Name'],  axis = 1)
df

,Unnamed: 0,Average User Rating,Price,Developer,Age Rating,Size,Primary Genre,Original Release Date,Current Version Release Date,Action,...,8.99,84.99,89.99,9.49,9.99,94.99,99.99,nan,desc_lengths,Current minus Original
0,1505,NaN,0.99,8172,4,7653376.0,6,2558,1032,0,...,0,0,0,0,0,0,0,1,653,1526
1,4255,NaN,0.00,4705,4,16031744.0,6,1806,1806,0,...,0,0,0,0,0,0,0,0,965,0
2,3543,NaN,1.99,2623,4,20512768.0,6,1951,846,0,...,0,0,0,0,0,0,0,1,911,1105
3,12980,NaN,0.00,6626,4,345495552.0,6,633,627,0,...,0,0,0,0,0,0,0,0,681,6
4,13567,NaN,0.00,8140,4,51518464.0,6,542,542,0,...,0,0,0,0,0,0,0,0,7151,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17002,3025,4.0,0.00,4949,4,86519808.0,6,2053,2053,0,...,0,0,0,0,0,0,0,0,977,0
17003,6123,NaN,0.00,1654,4,226768896.0,6,1238,1238,0,...,0,0,0,0,0,0,0,0,1455,0
17004,5976,4.0,0.00,7778,4,37797888.0,6,1450,1244,0,...,0,0,0,0,0,0,0,1,408,206
17005,16778,NaN,0.00,8626,9,103048192.0,6,2,2,0,...,0,0,0,0,0,0,0,0,1335,0
17006,3533,4.0,0.00,7949,4,37556224.0,6,1950,1382,0,...,0,0,0,0,0,0,0,0,554,568

In [4]:
df = df.dropna()
y = df['Average User Rating']
df = df.drop(['Average User Rating'],  axis = 1)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2, random_state=123)

## Regresión lineal

In [25]:
X_train_preprocesada = preprocessing.normalize(X_train)
X_test_preprocesada = preprocessing.normalize(X_test)

lr = LinearRegression()
lr.fit(X_train_preprocesada, y_train)

y_train_predict = lr.predict(X_train_preprocesada)

rmse = (np.sqrt(mean_squared_error(y_train, y_train_predict)))

print("training set")
print('RMSE es {}\n'.format(rmse))

y_test_predict = lr.predict(X_test_preprocesada)
rmse = (np.sqrt(mean_squared_error(y_test, y_test_predict)))

print("testing set")
print('RMSE es {}'.format(rmse))

training set
RMSE es 0.712318611265958

testing set
RMSE es 0.7747564404048041

In [26]:
comparacion = pd.DataFrame({'Real': np.array(y_test).flatten(), 'Predicción': y_test_predict.flatten()})
comparacion.head(10)

   Real  Predicción
0   3.5    4.093985
1   1.5    3.870917
2   2.0    4.046797
3   4.5    4.035523
4   4.5    4.084784
5   4.5    4.460214
6   5.0    4.093033
7   5.0    4.133384
8   4.0    4.419288
9   4.5    4.131736